{% extends 'base.html.twig' %}

{% block title %}
  Usuario confirmado
{% endblock %}

{% block body %}
  <div class="col-auto">
    <h3>
      Se ha dado de alta al usuario con éxito
    </h3>
    <a href="/users" class="btn btn-secondary" style="margin-bottom:20px">
      Volver a la lista de usuarios
    </a><br />
  </div>
{% endblock %}
