{% extends 'base.html.twig' %}

{% block title %}
  ¿Eliminar concurso?
{% endblock %}

{% block body %}
  <div class="col-auto">
    <h3>
      ¿Seguro que quieres eliminar este concurso?
    </h3>
    <a href="/concurso/cancion/delete/{{ concurso.id }}" class="btn btn-danger">Sí</a>
    <a href="/concurso" class="btn btn-success">No</a>
    <div class="container">
      <h4>
        Nombre: {{ concurso.nombre }}
      </h4>
    </div>
    <div class="container">
        <ul class="list-group justify-content-center text-center">
            {% for cancion in concurso.canciones|sort((a, b) => a.nombre <=> b.nombre) %}
                <li class="list-group-item"><p>{{ cancion.nombre }}</p></li>
            {% endfor %}
        </ul>
    </div>
    
  </div>
{% endblock %}
