{% extends 'base.html.twig' %}

{% block title %}
  Concurso editado
{% endblock %}

{% block body %}
  <div class="col-auto">
    <h3>
      El concurso se ha editado con éxito
    </h3>
    <a href="/concurso" class="btn btn-secondary" style="margin-bottom:20px">
      Volver a la lista de concursos
    </a><br />
  </div>
{% endblock %}
